<title>Dog Breed Prediction</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<body>
    <header>
        <h1 class="text-center p-4 vh-200 bg-dark text-white">Dog Breed Classification</h1>
    </header>
    <main class="container border border-secondary mb-2">
        <div>
            <h3 class="text-center">Dog Breeds</h3>
            <p class="text-center">Beagle | Chihuahua | Doberman | French Bulldog | Golden Retriever | Malamute | Pug | Saint Bernard | Scottish Deerhound | Tibetan Mastiff </p>
        </div>
        <div class="form-group">
            <h3 class="form-label" for="dogImage">Uplaod Image</h3>
            <input type="file" class="form-control" id="dogImage" />
            <br>
            <button class="btn btn-success" onclick="predictDogBreed()">Predict</button>
        </div>
    </main>
    <footer>
        <div class="text-center p-1 vh-50 bg-dark text-white">Developed By @Pranjal Soni</div>
    </footer>

</body>
<script>
    breed = document.getElementById("breed")
    score = document.getElementById("score")

    function predictDogBreed() {
        var img_file = document.getElementById("dogImage").files
        var formData = new FormData();
        var end_point = "/predict";
        formData.append("file", img_file[0]);

        dogImage = document.getElementById("dogImage")
        dogImage.src = img_file[0]

        $.ajax({
            type: 'POST',
            url: end_point,
            data: formData,
            contentType: false,
            cache: false,
            async: false,
            processData: false,


            success: function (data) {
                prob = data.prob
                swal({
                    title: "Breed : " + data.breed,
                    text: "Score : " + prob.toString(),
                    icon: "success",
                });
            }
        });
    }
</script>